@using EntityLayer.Concrete
@model List<Blog>

<style>
    .badge-gradient-lightblue {
        background-color: #add8e6; 
        color: white; 
    }
</style>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Son 10 Blog</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Başlık </th>
                                <th> Kategori </th>
                                <th> Tarih </th>
                                <th> Detaylar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                string categoryColorClass = GetCategoryColorClass(item.Category.CategoryName);

                                <tr>
                                    <td>
                                        <img src="@item.BlogImage" class="mr-2" alt="image">
                                    </td>
                                    <td>
                                        @item.BlogTitle
                                    </td>
                                    <td>
                                        <label class="badge @categoryColorClass">@item.Category.CategoryName</label>
                                    </td>
                                    <td> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy")) </td>
                                    <td>
                                        <a href="/Blog/BlogReadAll/@item.BlogID" class="btn btn-dark">Detaylar</a>
                                    </td>
                                </tr>
                            }

                            @functions {
                                string GetCategoryColorClass(string categoryName)
                                {
                                    switch (categoryName)
                                    {
                                        case "Sağlık ve Fitness":
                                            return "badge-gradient-primary"; // Mavi renk
                                        case "Teknoloji ve İnovasyon":
                                            return "badge-gradient-success"; // Yeşil renk
                                        case "Yemek ve Tarifler":
                                            return "badge-gradient-danger"; // Kırmızı renk
                                        case "Seyahat ve Gezi":
                                            return "badge-gradient-warning"; // Turuncu renk
                                        case "Kişisel Gelişim":
                                            return "badge-gradient-info"; // Mavi (bilgi) renk
                                        case "Moda ve Stil":
                                            return "badge-gradient-purple"; // Mor renk
                                        case "Sanat ve Kültür":
                                            return "badge-gradient-pink"; // Pembe renk
                                        case "Eğitim ve Öğrenme":
                                            return "badge-gradient-secondary"; // Gri renk
                                        case "Ekonomi ve Finans":
                                            return "badge-gradient-navy"; // Koyu mavi renk
                                        case "Çevre ve Sürdürülebilirlik":
                                            return "badge-gradient-green"; // Doğa yeşili renk
                                        case "Film ve Dizi":
                                            return "badge-gradient-lightblue"; // Açık mavi
                                        default:
                                            return "badge-gradient-secondary"; // Varsayılan olarak gri renk
                                    }
                                }

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
