@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
            <br />
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Ad Soyad</label>
                    <input type="text" asp-for="@Model.namesurname" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Kullanıcı Adı</label>
                    <input type="text" asp-for="@Model.username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="text" asp-for="@Model.mail" class="form-control" />
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail3">Yeni Şifreniz</label>
                            <input type="password" asp-for="@Model.password" class="form-control" />
                            <div class="text-danger" id="tiklanmadi-message" style="display: none;">Lütfen yeni şifrenizi giriniz</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputEmail3">Yeni Şifre Tekrar</label>
                            <input type="password" asp-for="@Model.confirmPassword" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="text-danger">
                    @Html.ValidationMessage("confirmPassword")
                </div>
                <div class="form-check">
                    <input type="checkbox" id="flexCheckChecked" asp-for="@Model.ChangePassword" checked="checked">
                    <label for="flexCheckChecked">
                        Şifremi Değiştirmek İstemiyorum
                    </label>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Profil Resmi</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" asp-for="@Model.ImageFile" />
                </div>
                @* <div class="form-group">
                <label for="exampleInputEmail3">Resim Yolu</label>
                <input type="text" asp-for="@Model.imageurl" class="form-control" />
                </div> *@
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>

<script>

    document.getElementById('flexCheckChecked').addEventListener('change', function () {
        var message = document.getElementById('tiklanmadi-message');
        if (this.checked) {

            message.style.display = 'none';
        } else {

            message.style.display = 'block';
        }
    });
</script>



